/* Bagian List Contact */
.text-darkblue {
    color: #355389;
}

/* Bagian Ajukan Kurikulum */
.container-ajukan {
    background-color: #c2d8f2;
}

.card-ajukan .card-body-ajukan {
    margin: 30px;
}

.form-group-ajukan label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.form-group-ajukan p {
    font-family: sans-serif;
    font-size: 15px;
}
