/* Bagian Kebijakan Privasi */
.container-kp{
    width: 80%;
    margin:80px auto;
    align-items: center;
    font-family: sans-serif;
}

.container-kp h3{
    font-weight: bold;
    color: #355389;
}

.daftar-prestasi{
    padding-left: 0px;
}

#list-gambar {
    height:15rem;
    width:100%;
    object-fit:cover;
}