    .card {
        background-color: #C2D8F2;
    }
    
    .card.border-0 {
        border: none;
    }

    .border-0 .row .col-md-8 h3{
        font-size: 30px;
        font-weight: bold;
        color: #355389;
        font-family: sans-serif;
    }
    
    .card .img-fluid.rounded-0 {
        border: none;
    }

    .card-body h1{
        font-size: 30px;
        font-weight: bold;
        color: #355389;
        font-family: sans-serif;
    }