/* BAGIAN AWAL */
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--w2);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
main {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 220px auto;
}

/* BAGIAN NAVBAR */
nav {
    height: 60px;
    right: 0;
    top: 0;
    grid-template-columns: 50px 50px 300px auto 130px;
    box-shadow: 1px 0px 2px var(--shadow);
    background-color: var(--w3);
    display: grid;
    column-gap: 10px;

}
nav button:nth-child(1) {
    text-align: bold;
    transform: rotate(90deg);
}
nav button {
    opacity: 0.7;
    color: var(--w4);
    background: transparent;
    border: none;
}
nav button:hover {
    opacity: 1;
}
nav #logout p {
    background-color: var(--danger);
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

/* BAGIAN HEADER */
header {
    color: var(--w3);
    position: relative;
    background-color: var(--w1);
    min-height: 100vh;
    height: 100%;
    box-shadow: 2px 2px 6px var(--shadow);
    overflow: hidden;
}
header #titleHeader {
    display: grid;
    grid-template-columns: 60px auto;
    box-shadow: 1px 0px 1px var(--w3);
    height: 60px;
    margin-top: 0;
    position: relative;
}
header #titleHeader p{
    position: relative;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 60px;
    opacity: 0.8;
}
header #titleHeader div div{
    position: relative;
    height: 40px;
    width: 40px;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    background: url(../assets/images/darkmode.jpg);
    background-size: cover;
}
header #isiHeader {
    padding-inline: 10px;
}
header #identitas {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--w3);
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}
header #gridHeader {
    position: relative;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    row-gap: 10px;
}
header #gridHeader button {
    line-height: 0;
    background: var(--w4);
    border: none;
    display: grid;
    grid-template-columns: 40px auto;
    border-radius: 5px;
    opacity: 0.8;
}
header #gridHeader button:hover {
    opacity: 1;
    box-shadow: 3px 3px 10px var(--w5);
}
header #gridHeader #selected{
    background-color: var(--w5);
    opacity: 1;
}
header #gridHeader p {
    text-align: left;
    line-height: 100%;
}
header #gridHeader div svg{
    position: relative;
    height: 20px;
    width: 20px;
    left: 10px;
    top: 10px;
    fill: var(--w3);
}
a{
    color: var(--w5);
    text-decoration: none;
    cursor: pointer;
}

/* BAGIAN KONTEN */
section {
    padding-block: 30px;
    padding-inline: 50px;
}
h1{
    color: var(--w1);
}

/* BAGIAN SEARCH */
.form-search {
    font-size: 0.9rem;
    gap: 0.5rem;
    align-items: center;
    height: 40px;
    position: relative;
    isolation: isolate;
    margin-left: 10px;
    margin-top: 10px;
}

.fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    border-radius: 30px;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.form-search label {
    height: 40px;
    padding-inline: 1.2em;
    display: grid;
    align-items: center;
}

.search {
    fill: var(--w4);
    left: 1.2em;
    top: 0;
    display: grid;
    grid-template-columns: 17px auto;
    column-gap: 10px;
}

svg {
    width: 17px;
    display: grid;
}

.input {
    color: var(--w1);
    background: none;
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--w4);
}

.input:focus ~ .search {
    fill: var(--w5);
}

.input:focus ~ .fancy-bg {
    border: 1px solid var(--w5);
}

/* KUMPULAN ANIMASI */
@keyframes navbarTutup {
    to {grid-template-columns: 60px auto;}
}
@keyframes navbarBuka {
    to {grid-template-columns: 220px auto;}
}

/* TEMPORARY */
.tutupNavbar { grid-template-columns: 220px auto; animation: navbarTutup 600ms 300ms forwards; }
.bukaNavbar { grid-template-columns: 60px auto; animation: navbarBuka 600ms 300ms forwards; }